/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 12px;
  background: rgb(243, 241, 241);
}

.country {
  border: 10px solid white;
  margin: 4px;
}
